<footer id="custom-styles">

    <div class="footer-content">
    <img src="{{ '/assets/images/logo.jpg' | assetUrl }}" alt="{{ metadata.title }} logo" class="footer-logo">

</br>
    <p><small>&copy; {{ helpers.currentYear() }} {{ metadata.title }} by {{ metadata.author.name }}</small></p>
    
    </div>

</footer>
