<header>
  <nav class="main-nav">
    <ul>
      <li><a href="{{ '/' | assetUrl }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
	  <li><a href="{{ '/blog/' | assetUrl }}" {% if page.url.startsWith("/blog/") %}class="active"{% endif %}>Blog</a></li>
	  <li><a href="{{ '/english/' | assetUrl }}" {% if page.url.startsWith("/english/") %}class="active"{% endif %}>English</a></li>
	  <li><a href="{{ '/about/' | assetUrl }}" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></li>
    </ul>
  </nav>
</header>