---
layout: base
permalink: /blog/
---
<h1>Blog Posts</h1>
<ul>
{% for post in collections.post | reverse %}
  <li><a href="{{ post.url | assetUrl }}">{{ post.data.title }}</a></li>

{% endfor %}
</ul>